<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Donated Items</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="{% static 'css/index.css' %}" rel="stylesheet" />
</head>
<body class="background">
  <nav class="navbar navbar-fixed navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="{% static 'img/mask.png' %}" height="100px" width='100px" alt='logo'>
    </a>
    <h1 id='title' class="ml-5">CoviFree</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse mr-5" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
      
        <li class="nav-item active mr-4">
          <a class="nav-link fa fa-lg fa-home" href="{% url 'index' % }">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item  mr-4">
          <a class="nav-link fa fa-lg fa-book" href="{% url 'display_donation' % }">Requirements </a>
        </li>
        <li class="nav-item  mr-4">
          <a class="nav-link fa fa-lg fa-heart" href="{% url 'display_donated_by' % }">Donations</a>
        </li>

        {% if user.is_authenticated %}
                <li class="nav-item mr-4">
            <a href="{% url "logout" %}" class="nav-link fa fa-lg fa-sign-in ">Logout</a>
            </li>

              {% else %}
                <li class="nav-item mr-4">
            <a href="{% url "login" %}" class="nav-link fa fa-lg fa-sign-in ">Login</a>
            </li>
        {% endif %}
      </ul>
    </div>
  </nav>
<h1 class="text-success text-center"> You are now logged out  </h1>

<br>
<center><button class="btn btn-primary"><a href="{% url 'index' % }" style="color: floralwhite;">Home Page </a></button></center>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>